<meta charset="utf-8">
<html>
<head>
  {% load staticfiles %}
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='{%static "board/js/board.js" %}'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
  integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<title> 취미 코딩 게시판 </title>
</head>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-inverse p-4">
        <h4 class="text-white"><a href='/board'>게시판</a></h4>
      </div>
    </div>
    <nav class="navbar navbar-inverse bg-inverse">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  <center>
  <h2> 모두의 게시판 </h2>
  </center>
  <center>
  <div id='posting-detail' style="width:50%">
  </div>

  <div style="width:70%;">
    <table id="board-list" class="table table-inverse">
    <!-- 게시판 목록이 표시될 곳!!-->
  </table>
  </div>

  <div style='width:70%;'>
    <form id="write-form">
    </form>
  </div>
  <div align='right' style='width:70%;'>
    <button class="btn btn-primary" onclick="javascript:makeWriteForm()">글작성</button>
  </div>
  <div>
  <ul id="page" class="pagination justify-content-center">
      <!-- pageNation area -->
  </ul>
  </div>
  </center>
  <script type="text/javascript">
  $(document).ready(getPostings(1, true), makePageNation(0))
  </script>
</html>
